@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  background-color: #15292B;
}

.index-heading,
.main.heading {
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;
  padding: 5px 0;
  margin: 5px 50px;
  font-size: 30px;
}

.odin-container {
  margin-top: 25px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.main-container {
  color: white;
  text-align: center;
}

.main.heading {
  margin-bottom: 30px;
  color: orange;
}

img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.description-container {
  color: white;
  margin-top: 30px;
}

ul,
ol {
  list-style-position: inside;
}

a,
strong,
.heading {
  color: orange;
}

.enjoy-text {
  color: orange;
  font-weight: bold;
  margin-top: 20px;
}

.back {
  font-size: 10px;
  color: wheat;
}